# Exploratory Weather DataSet

The objective of this dataset is to carry out an analysis of the different meteorological agents referring to the city of Chicago.

## Load the libraries, weÂ´re going to use

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import pylab as plb
from scipy.optimize import curve_fit
from scipy import asarray as ar,exp
pd.options.display.max_columns = None

## Read the data

### Humidity

In [3]:
humidity = pd.read_csv('Data/historical-hourly-weather-data/humidity.csv')
humidity.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
4981,2013-04-27 01:00:00,45.0,31.0,62.0,25.0,48.0,63.0,5.0,18.0,12.0,26.0,48.0,30.0,64.0,34.0,39.0,50.0,42.0,41.0,49.0,43.0,45.0,57.0,38.0,57.0,75.0,NaN,37.0,35.0,41.0,66.0,30.0,66.0,38.0,38.0,53.0,41.0
601,2012-10-26 13:00:00,86.0,93.0,82.0,93.0,31.0,71.0,27.0,37.0,30.0,100.0,83.0,83.0,88.0,87.0,93.0,77.0,72.0,82.0,82.0,93.0,77.0,100.0,100.0,88.0,82.0,91.0,87.0,76.0,80.0,81.0,33.0,NaN,22.0,60.0,60.0,50.0
18423,2014-11-08 03:00:00,93.0,86.0,81.0,89.0,36.0,40.0,37.0,37.0,47.0,61.0,85.0,72.0,71.0,50.0,76.0,60.0,100.0,74.0,72.0,69.0,96.0,91.0,75.0,82.0,77.0,100.0,57.0,60.0,55.0,100.0,52.0,15.0,15.0,100.0,66.0,72.0
36082,2016-11-12 22:00:00,76.0,55.0,64.0,71.0,21.0,46.0,20.0,20.0,44.0,13.0,49.0,49.0,47.0,40.0,43.0,40.0,43.0,33.0,34.0,36.0,31.0,88.0,33.0,61.0,48.0,57.0,45.0,31.0,56.0,38.0,92.0,82.0,56.0,100.0,100.0,82.0
29837,2016-02-26 17:00:00,91.0,81.0,48.0,93.0,72.0,47.0,28.0,38.0,44.0,31.0,32.0,43.0,37.0,55.0,59.0,64.0,100.0,52.0,92.0,64.0,58.0,30.0,39.0,42.0,63.0,65.0,47.0,47.0,57.0,37.0,87.0,79.0,41.0,96.0,96.0,77.0

### Pressure

In [4]:
pressure = pd.read_csv('Data/historical-hourly-weather-data/pressure.csv')
pressure.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
5903,2013-06-04 11:00:00,NaN,1019.0,1008.0,1020.0,NaN,1010.0,NaN,1001.0,1018.0,1010.0,1016.0,1016.0,1010.0,NaN,1017.0,1018.0,NaN,NaN,1017.0,1013.0,1018.0,1013.0,1013.0,1015.0,1014.0,1014.0,1011.0,1010.0,1009.0,1010.0,964.0,1010.0,1006.0,1012.0,1012.0,1011.0
24580,2015-07-22 16:00:00,1013.0,1016.0,1012.0,1015.0,1012.0,1013.0,1011.0,1011.0,1020.0,1018.0,1016.0,1014.0,1014.0,1014.0,1015.0,1015.0,1016.0,1016.0,1017.0,1015.0,1016.0,1015.0,1014.0,1017.0,1015.0,1011.0,1010.0,1009.0,1006.0,1005.0,984.0,1005.0,1002.0,1007.0,1007.0,1006.0
37769,2017-01-22 05:00:00,1000.0,1003.0,1002.0,1002.0,1019.0,1021.0,1016.0,1018.0,1010.0,1004.0,1003.0,998.0,1001.0,1000.0,1000.0,1001.0,1002.0,1002.0,1003.0,1004.0,1004.0,1008.0,1005.0,1012.0,1005.0,1006.0,1009.0,1009.0,1009.0,1008.0,994.0,1022.0,1022.0,1022.0,1022.0,1022.0
8649,2013-09-26 21:00:00,1018.0,1018.0,1013.0,1019.0,1006.0,1019.0,1006.0,1002.0,1012.0,998.0,1009.0,1007.0,1004.0,1011.0,1012.0,1015.0,1015.0,1014.0,1017.0,1014.0,1018.0,1011.0,1014.0,1008.0,1017.0,1018.0,1015.0,1017.0,1033.0,1014.0,992.0,1014.0,1012.0,1019.0,1019.0,992.0
40916,2017-06-02 08:00:00,1015.0,1017.0,1018.0,1016.0,1012.0,1012.0,1011.0,1010.0,1020.0,1015.0,1013.0,1015.0,1014.0,1016.0,1017.0,1018.0,1018.0,1017.0,1019.0,1019.0,1018.0,1017.0,1017.0,1016.0,1017.0,1015.0,1016.0,1016.0,1011.0,1015.0,988.0,1015.0,1015.0,1015.0,1015.0,1015.0

### Temperature

In [5]:
temperature = pd.read_csv('Data/historical-hourly-weather-data/temperature.csv')
temperature.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
3161,2013-02-10 05:00:00,277.200000,275.750000,280.610000,278.210000,281.47000,281.370000,279.130000,285.020000,282.690000,271.770000,290.844000,281.570000,284.450000,272.830000,268.880000,272.330000,270.900000,273.040000,270.240000,274.480000,263.480000,286.300000,278.110000,292.570000,267.070000,264.400000,273.180000,270.470000,261.320000,265.340000,287.290000,286.150000,285.270000,290.310000,290.310000,288.520000
19804,2015-01-04 16:00:00,276.691967,276.813667,279.755333,275.722000,277.19700,273.147000,267.530333,272.638667,264.538667,261.730333,278.322000,271.530333,279.313667,263.313667,253.138667,271.513667,271.838667,281.222000,275.013667,288.313667,274.538667,295.672000,290.647000,301.213667,286.788667,277.713667,284.388667,280.286216,269.825177,280.780333,283.982509,283.615193,281.954219,288.519882,284.033500,281.713667
16359,2014-08-14 03:00:00,291.530000,292.232500,290.382500,292.482500,295.90750,294.457500,297.682500,299.807500,296.657500,295.932500,302.432500,300.932500,303.282500,294.682500,294.257500,293.057500,293.482500,294.132500,292.882500,295.382500,291.182500,300.982500,294.232500,301.532500,287.757500,288.432500,292.982500,294.670000,290.400000,292.432500,291.857000,298.790000,302.660000,295.150000,295.150000,296.632500
11488,2014-01-23 04:00:00,277.210000,277.690000,284.790000,279.260000,287.13000,285.550000,278.612000,287.150000,275.170000,271.290000,285.080000,281.250000,285.660000,262.500000,250.640000,267.240000,257.810000,267.660000,261.170000,269.700000,261.050000,274.850000,267.370000,282.040000,260.630000,258.430000,260.450000,260.010000,253.150000,259.510000,282.247000,286.660000,286.150000,285.930000,285.930000,283.318000
29690,2016-02-20 14:00:00,278.403119,277.699808,279.707971,277.001097,281.53313,278.930331,277.936296,282.401619,276.316863,275.889136,292.156332,292.395175,291.026948,280.093542,274.501475,280.237315,280.109671,289.191632,281.613161,284.613677,280.073069,286.392496,282.836392,294.920393,283.061050,278.686957,280.933891,280.667780,276.863142,279.417533,290.415089,292.025529,295.378572,292.609227,292.609227,291.980095

### Weather description

In [6]:
weather_description = pd.read_csv('Data/historical-hourly-weather-data/weather_description.csv')
weather_description.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
31653,2016-05-12 09:00:00,sky is clear,sky is clear,broken clouds,sky is clear,haze,mist,sky is clear,sky is clear,sky is clear,sky is clear,mist,light intensity drizzle,mist,broken clouds,mist,few clouds,mist,sky is clear,overcast clouds,scattered clouds,broken clouds,broken clouds,thunderstorm,scattered clouds,fog,sky is clear,mist,sky is clear,few clouds,mist,sky is clear,few clouds,sky is clear,few clouds,few clouds,few clouds
38359,2017-02-15 19:00:00,moderate rain,moderate rain,broken clouds,moderate rain,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,scattered clouds,sky is clear,sky is clear,sky is clear,scattered clouds,moderate rain,light rain,sky is clear,sky is clear,broken clouds,sky is clear,few clouds,overcast clouds,light rain,overcast clouds,few clouds,scattered clouds,light rain,light rain,light rain
33919,2016-08-14 19:00:00,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,light rain,few clouds,moderate rain,broken clouds,moderate rain,scattered clouds,sky is clear,moderate rain,overcast clouds,overcast clouds,light rain,scattered clouds,broken clouds,overcast clouds,light rain,overcast clouds,moderate rain,overcast clouds,few clouds,sky is clear,few clouds,moderate rain,sky is clear,scattered clouds,sky is clear,few clouds,few clouds,sky is clear
39340,2017-03-28 16:00:00,haze,light rain,haze,light rain,sky is clear,mist,sky is clear,sky is clear,light rain,moderate rain,haze,mist,few clouds,light intensity drizzle,sky is clear,mist,mist,broken clouds,mist,overcast clouds,overcast clouds,few clouds,sky is clear,scattered clouds,light rain,overcast clouds,mist,fog,light rain,fog,few clouds,sky is clear,sky is clear,few clouds,few clouds,sky is clear
6291,2013-06-20 15:00:00,light rain,overcast clouds,sky is clear,light rain,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,scattered clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,overcast clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,overcast clouds,sky is clear,broken clouds,very heavy rain,sky is clear,sky is clear,sky is clear,broken clouds,sky is clear,sky is clear,sky is clear,sky is clear

### Wind direction

In [7]:
wind_direction = pd.read_csv('Data/historical-hourly-weather-data/wind_direction.csv')
wind_direction.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
34371,2016-09-02 15:00:00,100.0,200.0,310.0,180.0,94.0,230.0,180.0,80.0,78.0,310.0,80.0,90.0,80.0,60.0,160.0,30.0,80.0,30.0,50.0,10.0,40.0,230.0,60.0,210.0,30.0,30.0,50.0,10.0,300.0,90.0,320.0,300.0,350.0,320.0,320.0,300.0
33101,2016-07-11 17:00:00,290.0,0.0,290.0,200.0,205.0,210.0,360.0,200.0,300.0,110.0,170.0,190.0,200.0,170.0,120.0,0.0,220.0,0.0,170.0,0.0,220.0,100.0,240.0,150.0,181.0,80.0,360.0,353.0,210.0,80.0,325.0,300.0,360.0,330.0,330.0,300.0
21693,2015-03-24 09:00:00,55.0,185.0,291.0,270.0,22.0,189.0,244.0,161.0,274.0,272.0,170.0,171.0,153.0,86.0,155.0,41.0,107.0,207.0,68.0,108.0,24.0,31.0,151.0,297.0,50.0,176.0,30.0,15.0,327.0,3.0,54.0,207.0,175.0,180.0,180.0,187.0
19718,2015-01-01 02:00:00,307.0,67.0,225.0,17.0,2.0,286.0,131.0,198.0,266.0,117.0,34.0,22.0,27.0,239.0,255.0,228.0,249.0,339.0,237.0,342.0,243.0,27.0,224.0,240.0,252.0,246.0,248.0,246.0,216.0,251.0,91.0,67.0,337.0,67.0,45.0,27.0
20256,2015-01-23 12:00:00,97.0,63.0,57.0,147.0,10.0,58.0,3.0,20.0,279.0,238.0,174.0,17.0,183.0,171.0,231.0,50.0,235.0,41.0,65.0,95.0,213.0,106.0,56.0,120.0,180.0,241.0,272.0,278.0,227.0,298.0,105.0,59.0,115.0,59.0,103.0,89.0

### Wind Speed

In [8]:
wind_speed = pd.read_csv('Data/historical-hourly-weather-data/wind_speed.csv')
wind_speed.sample(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,Dallas,Houston,Kansas City,Minneapolis,Saint Louis,Chicago,Nashville,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
32172,2016-06-03 00:00:00,3.0,2.0,3.0,5.0,3.0,5.0,4.0,6.0,1.0,2.0,3.0,5.0,2.0,3.0,1.0,3.0,4.0,5.0,4.0,1.0,4.0,6.0,1.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,0.0,1.0,3.0,2.0,2.0,1.0
39421,2017-04-01 01:00:00,2.0,1.0,3.0,1.0,5.0,4.0,4.0,5.0,3.0,4.0,9.0,5.0,5.0,3.0,2.0,2.0,6.0,3.0,5.0,4.0,4.0,4.0,3.0,4.0,3.0,4.0,4.0,6.0,2.0,3.0,1.0,2.0,2.0,3.0,3.0,2.0
26877,2015-10-26 09:00:00,6.0,3.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,5.0,7.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0,2.0,3.0,5.0,4.0,1.0,2.0,2.0,4.0,3.0,5.0,1.0,0.0,4.0,3.0,3.0,1.0
45018,2017-11-20 06:00:00,NaN,5.0,NaN,7.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0,5.0,3.0,2.0,1.0,1.0,3.0,3.0,2.0,3.0,2.0,NaN,5.0,3.0,6.0,NaN,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2942,2013-02-01 02:00:00,0.0,0.0,4.0,1.0,1.0,1.0,2.0,2.0,3.0,6.0,2.0,1.0,2.0,3.0,6.0,9.0,11.0,7.0,8.0,3.0,10.0,7.0,7.0,1.0,0.0,2.0,11.0,13.0,5.0,10.0,3.0,5.0,1.0,6.0,6.0,4.0

## Study the dimensions of the dataset

In [9]:
humidity.shape

(45253, 37)

In [10]:
pressure.shape

(45253, 37)

In [11]:
temperature.shape

(45253, 37)

In [12]:
weather_description.shape

(45253, 37)

In [13]:
wind_direction.shape

(45253, 37)

In [14]:
wind_speed.shape

(45253, 37)

## Get only the data of Chicago

In [15]:
humidity_chicago = humidity[['datetime','Chicago']]
humidity_chicago.rename(columns={"datetime": "datetime", "Chicago": "humidity"},inplace=True)

pressure_chicago = pressure[['datetime','Chicago']]
pressure_chicago.rename(columns={"datetime": "datetime", "Chicago": "pressure"},inplace=True)

temperature_chicago = temperature[['datetime','Chicago']]
temperature_chicago.rename(columns={"datetime": "datetime", "Chicago": "temperature"},inplace=True)

weather_description_chicago = weather_description[['datetime','Chicago']]
weather_description_chicago.rename(columns={"datetime": "datetime", "Chicago": "weather_description"},inplace=True)

wind_direction_chicago = wind_direction[['datetime','Chicago']]
wind_direction_chicago.rename(columns={"datetime": "datetime", "Chicago": "wind_direction"},inplace=True)

wind_speed_chicago = wind_speed[['datetime','Chicago']]
wind_speed_chicago.rename(columns={"datetime": "datetime", "Chicago": "wind_speed"},inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

### Join all the chicago attributes

In [29]:
chicago_weather = humidity_chicago.merge(pressure_chicago,how='inner',on='datetime')
chicago_weather = chicago_weather.merge(temperature_chicago,how='inner',on='datetime')
chicago_weather = chicago_weather.merge(weather_description_chicago,how='inner',on='datetime')
chicago_weather = chicago_weather.merge(wind_direction_chicago,how='inner',on='datetime')
chicago_weather = chicago_weather.merge(wind_speed_chicago,how='inner',on='datetime')
chicago_weather.head(10)

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,71.0,1014.0,284.010000,overcast clouds,0.0,0.0
2,2012-10-01 14:00:00,70.0,1014.0,284.054691,overcast clouds,0.0,0.0
3,2012-10-01 15:00:00,70.0,1014.0,284.177412,overcast clouds,0.0,0.0
4,2012-10-01 16:00:00,70.0,1014.0,284.300133,overcast clouds,0.0,0.0
5,2012-10-01 17:00:00,69.0,1014.0,284.422855,overcast clouds,0.0,0.0
6,2012-10-01 18:00:00,69.0,1014.0,284.545576,overcast clouds,0.0,0.0
7,2012-10-01 19:00:00,69.0,1014.0,284.668297,overcast clouds,0.0,0.0
8,2012-10-01 20:00:00,68.0,1014.0,284.791018,overcast clouds,0.0,0.0
9,2012-10-01 21:00:00,68.0,1014.0,284.913739,overcast clouds,0.0,0.0

### Check the dimensions of the data

In [17]:
chicago_weather.shape

(45253, 7)

In [18]:
chicago_weather.describe()

           humidity      pressure   temperature  wind_direction    wind_speed
count  44144.000000  44528.000000  45250.000000    45252.000000  45252.000000
mean      74.434918   1018.895549    283.350573      190.627199      3.759326
std       18.688220     10.139055     10.997137       98.157351      2.268607
min        6.000000    878.000000    248.890000        0.000000      0.000000
25%       61.000000   1012.000000    275.172450      115.000000      2.000000
50%       77.000000   1018.000000    283.940667      200.000000      3.000000
75%       89.000000   1025.000000    292.280000      270.000000      5.000000
max      100.000000   1077.000000    308.480000      360.000000     25.000000

### Check the types

In [19]:
chicago_weather.dtypes

datetime                object
humidity               float64
pressure               float64
temperature            float64
weather_description     object
wind_direction         float64
wind_speed             float64
dtype: object

## Data Wrangling

### Check the different options of the column weather_description

In [20]:
chicago_weather.groupby('weather_description')['weather_description'].count().sort_values(ascending=False)

weather_description
sky is clear                           10844
broken clouds                           7255
overcast clouds                         5412
scattered clouds                        4522
mist                                    4112
few clouds                              3851
light rain                              3745
moderate rain                           1469
light snow                               886
haze                                     877
fog                                      530
heavy intensity rain                     503
snow                                     241
light intensity drizzle                  228
heavy snow                               196
proximity thunderstorm                   178
drizzle                                  143
thunderstorm                              78
thunderstorm with light rain              60
very heavy rain                           35
thunderstorm with rain                    27
thunderstorm with heavy rain              20
proximity thunderstorm with rain          12
heavy intensity drizzle                    7
freezing rain                              5
proximity thunderstorm with drizzle        4
light rain and snow                        3
proximity shower rain                      2
dust                                       2
thunderstorm with drizzle                  2
smoke                                      1
squalls                                    1
thunderstorm with light drizzle            1
Name: weather_description, dtype: int64

### Check the duplicates

In [21]:
# Check the duplicates to the all dataset
chicago_weather[chicago_weather.duplicated()==True].count()

datetime               0
humidity               0
pressure               0
temperature            0
weather_description    0
wind_direction         0
wind_speed             0
dtype: int64

There are not duplicates

### Check the duplicates in the datetime column

In [22]:
# Check the duplicates in the datetime column
chicago_weather[chicago_weather.duplicated(subset='datetime')==True].count()

datetime               0
humidity               0
pressure               0
temperature            0
weather_description    0
wind_direction         0
wind_speed             0
dtype: int64

No repeated rows based on day/hour

### Check the null values

In [26]:
# Get the percentage of null values per column
chicago_weather.isnull().sum().sort_values(ascending=False)

humidity               1109
pressure                725
temperature               3
wind_speed                1
wind_direction            1
weather_description       1
datetime                  0
dtype: int64

In [28]:
chicago_weather.head()

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,71.0,1014.0,284.010000,overcast clouds,0.0,0.0
2,2012-10-01 14:00:00,70.0,1014.0,284.054691,overcast clouds,0.0,0.0
3,2012-10-01 15:00:00,70.0,1014.0,284.177412,overcast clouds,0.0,0.0
4,2012-10-01 16:00:00,70.0,1014.0,284.300133,overcast clouds,0.0,0.0

In [30]:
# Delete the first row because there are only null values
chicago_weather = chicago_weather.dropna(how='all',
                                         subset=['humidity',
                                                 'pressure',
                                                 'temperature',
                                                 'weather_description',
                                                 'wind_direction',
                                                 'wind_speed'])

In [32]:
# Get the percentage of null values per column
chicago_weather.isnull().sum().sort_values(ascending=False)

humidity               1108
pressure                724
temperature               2
wind_speed                0
wind_direction            0
weather_description       0
datetime                  0
dtype: int64

#### Fill the null values with the mean between the hour after and before the row with the null value

!!!!!!WORKING PROGRESS!!!!!!!!!!

In [37]:
chicago_weather[chicago_weather['temperature'].isnull()]['datetime']

3859    2013-03-11 07:00:00
3860    2013-03-11 08:00:00
Name: datetime, dtype: object

In [68]:
chicago_weather[chicago_weather['temperature'].isnull()]['datetime']

3859    2013-03-11 07:00:00
3860    2013-03-11 08:00:00
Name: datetime, dtype: object

In [136]:
attributes_null=[]
values={}
for attribute in chicago_weather.columns:
    if chicago_weather[attribute].isnull().sum != 0:
        for i in chicago_weather[chicago_weather[attribute].isnull()]['datetime']:
            if attribute not in attributes_null:
                attributes_null.append(attribute)
                globals()[attribute]=[]
            globals()[attribute].append(chicago_weather[chicago_weather['datetime'].str[5:13] == i[5:13]][attribute]\
                                        .mean())

In [148]:
chicago_weather[chicago_weather['temperature'].isnull()].head(1)['temperature']=temperature[0]

In [168]:
test=chicago_weather.replace(chicago_weather[chicago_weather[chicago_weather['temperature'].isnull()].index[0]]['temperature'],temperature[0])

KeyError: 3859

In [165]:
test[test['temperature'].isnull()]

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed,datetime_new
3859,2013-03-11 07:00:00,27.0,1015.0,NaN,light rain,60.0,1.0,2013-03-11 07:00:00
3860,2013-03-11 08:00:00,54.0,1012.0,NaN,light rain,120.0,2.0,2013-03-11 08:00:00

In [137]:
temperature

[274.76241666675, 274.33058333325]

In [124]:
chicago_temperature = chicago_weather[['temperature']]
chicago_temperature.head()

   temperature
1   284.010000
2   284.054691
3   284.177412
4   284.300133
5   284.422855

In [118]:
attributes_null

['humidity', 'pressure', 'temperature']

In [129]:
attributes_null=[]
values={}
for attribute in chicago_weather.columns:
    if chicago_weather[attribute].isnull().sum != 0:
        for i in chicago_weather[chicago_weather[attribute].isnull()]['datetime']:
            if attribute not in attributes_null:
                attributes_null.append(attribute)
                globals()[attribute]=[]
            globals()[attribute].append(chicago_weather[chicago_weather['datetime'].str[5:13] == i[5:13]][attribute]\
                                        .mean())

### Get the datetime format to the column datetime

In [ ]:
chicago_weather['datetime'].head()

In [ ]:
chicago_weather['datetime'] = pd.to_datetime(chicago_weather['datetime'], errors='coerce')
chicago_weather.dtypes

### Study the outliers

In [ ]:
chicago_weather.describe()

In [ ]:
# Store in a dictionary the medicines with their threshold, q1 and q3
thresholds={}
for columna in (chicago_weather.describe().dtypes.index):
    q1 = chicago_weather.describe().loc["25%"][columna]
    q3 = chicago_weather.describe().loc["75%"][columna]
    iqr = q3 - q1
    threshold = 1.5 * iqr
    thresholds[columna]=[threshold,q1,q3]
thresholds

In [ ]:
# Get the number of outliers with their percentage by variable
outliers = {}
for i in thresholds:
    outlier = chicago_weather[chicago_weather[i] < (thresholds[i][1]-thresholds[i][0])].shape[0] \
    + chicago_weather[chicago_weather[i] > (thresholds[i][2]+thresholds[i][0])].shape[0]
    outliers[i] = [outlier,outlier/chicago_weather.shape[0]*100]
df_outliers = pd.DataFrame(outliers).T
df_outliers.columns = ['Outliers','%Outliers']
df_outliers

# Exploratory Data Analysis

### Check the relationship between the different meteorological agents

In [ ]:
# Get the correlation matrix
corr_matrix = chicago_weather.corr()
corr_matrix

In [ ]:
# Generate a mask for the upper triangle
mask = np.zeros_like(corr_matrix, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr_matrix, mask=mask, annot= True, fmt= '.1f',cmap='PiYG', vmin= -1, vmax=1,center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});